.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.footer {
  background-color: var(--clr-white);
  color: var(--clr-black);
  padding: 20px;
  text-align: center;
}

.footer a {
  text-decoration: underline;
}